<section class="contenedorItems">
  <div class="items">
    <img  class="cohete" src="../../../assets/img/cohete.png"/>
    <h2>Item 1</h2>
    <p class="parrafo">Aún nuestro sitio está en cosntrucción (somos muy perfeccionistas jeje).
       Mientras puedes navegar en nuestro sitio antiguo</p>
  </div>
  <div class="items">
    <img  class="cohete" src="../../../assets/img/cohete.png"/>
    <h2>Item 1</h2>
    <p class="parrafo">Aún nuestro sitio está en cosntrucción (somos muy perfeccionistas jeje).
       Mientras puedes navegar en nuestro sitio antiguo</p>
  </div>
  <div class="items">
    <img  class="cohete" src="../../../assets/img/cohete.png"/>
    <h2>Item 1</h2>
    <p class="parrafo">Aún nuestro sitio está en cosntrucción (somos muy perfeccionistas jeje).
       Mientras puedes navegar en nuestro sitio antiguo</p>
  </div>  
</section>
