// seccion del items con ul del items

$color: rgba(255, 147, 244, 1)
  
.contenedorItems
  display: inline
  width: 100%  
  justify-content: center

ul
  display: flex
  flex-direction: row
  text-align: center
  list-style-type: none 
  padding: 0 
  justify-content: space-evenly


#circulo1   
  float: right 
  width: 490px
  height: 490px
  shape-outside: circle(50% at 70%) 
  clip-path: circle(50% at 100%) 
  background: $color
  margin-top: -526px
 
    

#circulo2
  float: left
  width: 100px
  height: 100px  
  clip-path: circle(50% at 0% 100%)
  background: $color
  margin-top: -66px
  margin-right: -151px
  
  

  

