// seccion del items con ul del items

$color: rgba(255, 147, 244, 1)
  
.contenedorItems
  display: flex  
  width: 100%  
  justify-content: center

ul
  display: flex
  flex-direction: row
  text-align: center
  justify-content: space-around
  

.circulos
  width: auto
  height: auto

#circulo1   
  float: right 
  width: 490px
  height: 490px
  shape-outside: circle(50% at 70%) 
  clip-path: circle(50% at 100%) 
  background: $color
  margin-top: -159px
  margin-right: -151px
    
 
  
  

  

