@import '../../../styles'


$size: 16px


header
  background-color: $primary-color
  width: 100%
  height: 74px
  display: flex
  justify-content: space-between
  align-items: center 
  @include open-sans(400)

.logo
  width:137px
  height:37px
  margin-left: 51px

ul
  width: auto 
  align-items: center
  margin-top: 0
  margin-bottom: 0


li
  @include open-sans(400)
  font-size:$size
  color: $color
  list-style: none
  margin-right: 51px
  line-height: 25px
  cursor: pointer
  position: relative

li:hover
  color: $menu-clicked

li.activo
  border-bottom: solid $menu-clicked 4px

#textoTop  
  height: 44px
  font-size: 16px
  line-height: 24px  
  display: flex
  align-items: center
  justify-content: center
  margin: 0

//movil
@media screen and ( max-width: 767px )

  header    
    position: relative

  .navbar
    position: absolute
    width: 100%
    height: 100%   

  .container-fluid
    padding-right: 52px
    background-color: #FF93F4
    z-index: 2

    li
      @include open-sans(400)
      font-size:$size
      color: $color
      margin-top: 8px
    
   
    li.activo
      border-bottom: solid $menu-clicked 4px

  button
    width: 29px
    border: none

  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus
    outline: none
    box-shadow: none
        
  .logo    
    margin-left: 20px
 
  ul
    display: flex
    align-items: flex-start
    justify-content: center
    flex-direction: column

      

  .nav-item
    margin-left: 22px
    margin-right: 0px


  




  
    

  