$primary-color: #FF93F4
$fuente: open-sans
$size: 16px
$color:#FFFFFF


header 
  background-color: $primary-color
  width: 100%
  height: 74px  
  left: -3px
  display: flex
  justify-content: space-between
  align-items: center

 
.logo
  width:137px
  height:37px  
  margin-left: 51px


ul
  width: auto  
  display: flex
  align-items: center

  
li  
  font-family: $fuente
  font-size:$size
  color: $color  
  list-style: none
  margin-right: 51px


#textoTop
  width: 100%
  height: 24px
  line-height: 24px
  text-align: center
  font-family: $fuente

  
 
  





  
  